.mainContainer{
 display: flex;
 justify-content: space-between;
    height: 93vh;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    position: relative;
   
}
.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-left: 3rem;
}
.imgContainer{
    display: flex;
    flex: 0 1 50%;
    overflow: auto;
    position: relative;
}
.imgList{
    display: flex;
    height: 100%;
    width: 100%;
}
.imgContainer::-webkit-scrollbar {
    width: 1px;
    height: 4px;
    scroll-behavior: smooth;
  }
  
  .imgContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    scroll-behavior: smooth;
  }
  
  .imgContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    scroll-behavior: smooth;
    /* outline: 1px solid slategrey; */
  }
.image{
    height: 100%;
    width: 100%;
}
.image img{
    height: 100%;
    width: fit-content;
}

.btn {
    display: flex;
    margin-top: 2rem;
    width: 16vw;
    height: 3rem;
    border: 1px solid #fff;
    color: #777;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    transition: all 0.14s;
  }
  .btn:hover {
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(56, 23, 23, 0.455);
    background-color: #333;
    color: #777;
  }

  .arrowbtn {
    background-color: #00000063;
    width: 8rem;
    height: 5rem;
    position: relative;
    top: 40%;
    /* opacity: 0; */
    transition: all 0.6s ease-out;
  }
  .arrow {
    position: absolute;
    top: 29%;
    left: 58%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
    transition: all 0.6s ease-out;
  }
  
  .arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  
  .arrowbtn2 {
    background-color: #00000063;
    width: 8rem;
    height: 5rem;
    position: relative;
    left: 90.5%;
    bottom: 86.2%;
    /* opacity: 0; */
    transition: all 0.6s ease-out;
  }
  .arrow2 {
    position: absolute;
    top: 29%;
    right: 58%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
    transition: all 0.6s ease-out;
  }
  
  .arrow2 span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .arrow2 span:nth-child(2) {
    animation-delay: -0.2s;
  }
  
  .arrow2 span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  
  .mainContainer:hover .arrowbtn {
    opacity: 1;
  }
  .mainContainer:hover .arrowbtn2 {
    opacity: 1;
  }
  
  

